<li [ngClass]="{'list-group-item':true, 
                'list-group-item-success': postItem.loveIts > 0, 
                'list-group-item-danger': postItem.loveIts < 0}">
  <div class="date text-black-50 font-italic float-right small">{{ postItem.created_at | date:'short' }}</div>
  <h4>{{ postItem.title }}</h4>
  <p>{{ postItem.content }}</p>
  <div class="btn-toolbar">
      <button type="button" class="btn btn-success" (click)="onIncrementLoveIt()">Love It</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)="onDecrementLoveIt()">Don't Love It</button>
  </div>
</li>
